aniso8601==8.1.0
appdirs==1.4.4
attrs==20.3.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
clickclick==20.10.2
connexion==2.7.0
distlib==0.3.1
filelock==3.0.12
Flask==1.1.2
Flask-RESTful==0.3.8
idna==2.10
inflection==0.5.1
itsdangerous==1.1.0
Jinja2==2.11.2
jsonschema==3.2.0
MarkupSafe==1.1.1
openapi-spec-validator==0.2.9
pyrsistent==0.17.3
pytz==2020.5
PyYAML==5.3.1
requests==2.25.1
six==1.15.0
urllib3==1.26.2
virtualenv==20.2.2
Werkzeug==1.0.1
